<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Product">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ed Carter">
    <title>Deadbolt Password Generator | Licensing Information</title>
    <meta name="keywords" content="password generator, random password generator, secure password generator, generate password, good passwords, random password, good password, online password generator, generate random password, password generators" />
    <meta name="description" content="Full details of all plugins used for the open source free password generator." />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="Deadbolt Password Generator Security Blog" href="http://blog.deadboltpasswordgenerator.com/feeds/posts/default?alt=rss" />
    <link rel="canonical" href="http://www.deadboltpasswordgenerator.com/license-information" />
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/deadbolt.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1><a href="/"><span itemprop="name">Deadbolt Password Generator</span></a></h1>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-7 col-sm-6">
                <h2>License Information</h2>
                <p>
                    Deadbolt Password Generator is licensed under the <a href="http://www.gnu.org/licenses/" target="_blank">The GNU General Public License Version 3</a>, but it's built upon some other works
                    that are referenced below.
                </p>
            </div>
        </div>

        <hr />

        <div class="container adsense">
            <!-- Responsive Ad Unit -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9853312082400389"
                 data-ad-slot="5309390888"
                 data-ad-format="auto"></ins>
        </div>

        <hr />

        <div>
            <h4>Web Site</h4>
            <pre><a href="http://knockoutjs.com/">Knockout</a>
knockout javascript library v3.3.0
(c) steven sanderson - http />/knockoutjs.com/
License: MIT (http://www.opensource.org/licenses/mit-license.php)</pre>

            <pre><a href="https://github.com/aFarkas/html5shiv">html5shiv</a>
HTML5 Shiv v3.7.0 | @afarkas @jdalton @jon_neal @rem | MIT/GPL2 Licensed</pre>

            <pre><a href="https://github.com/scottjehl/Respond/blob/master/LICENSE-MIT">Respond.js</a>
Respond.js v1.4.2: min/max-width media query polyfill * Copyright 2013 Scott Jehl
Licensed under https://github.com/scottjehl/Respond/blob/master/LICENSE-MIT</pre>

            <pre><a href="http://getbootstrap.com/">Bootstrap</a>
Bootstrap v3.1.0 (http://getbootstrap.com)
Copyright 2011-2014 Twitter, Inc.
Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)</pre>

            
        </div>

        <hr />

        <div class="container adsense">
            <!-- Responsive Text Ad Unit -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9853312082400389"
                 data-ad-slot="8262857289"
                 data-ad-format="auto"></ins>
        </div>

        <hr />

        <div>

            <h4>Chrome Extension</h4>

            <pre><a href="https://angularjs.org/">Angular</a>
AngularJS v1.2.17
(c) 2010-2014 Google, Inc. http://angularjs.org
License: MIT</pre>

            <pre><a href="http://janantala.github.io/angular-qr/demo/">angular-qr</a>
angular-qr v0.2.0
The MIT License
Copyright (c) 2014 Jan Antala <hello@janantala.com></pre>

</div>
        
        <hr />

        <div>

            <h4>Mobile App</h4>

            <pre><a href="http://cordova.apache.org/">Cordova</a>
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.</pre>

            <pre><a href="https://www.polymer-project.org">Polymer</a>
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt</pre>

            <pre><a href="https://github.com/VersoSolutions/CordovaClipboard">Cordova Clipboard</a>
Copyright (c) 2013 Verso Solutions LLC
License: MIT</pre>

            <pre><a href="https://github.com/MobileChromeApps/mobile-chrome-apps">Mobile Chrome Apps</a>
Copyright (c) 2012 The Chromium Authors. All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
* Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</pre>

            <pre><a href="https://github.com/wildabeast/BarcodeScanner/blob/master/README.md">wildabeast BarcodeScanner</a>
The MIT License
Copyright (c) 2010 Matt Kane
</pre>

        </div>

        

    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-xs">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 footer-icon"><p><img src="/images/qrcode.png" class="img-responsive img-rounded" /></p></div>
                        <div class="col-md-9 col-sm-10">
                            <h4>On the go</h4>
                            <p>Deadbolt is fully mobile optimised and compatible with most smart phones.</p>
                            <p>Scan the following code and bookmark it on your phone so you can access the site wherever you are.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 footer-icon">
                            <p>
                                <a href="https://github.com/bittenbytailfly/deadbolt-password-generator-chrome-extension" target="_blank">
                                    <img src="/images/github-mark-light-120px-plus.png" class="img-responsive img-rounded" />
                                </a>
                            </p>
                        </div>
                        <div class="col-md-9 col-sm-10">
                            <h4>Feedback</h4>
                            <p>If you'd like to know more about how Deadbolt works, want to file a bug report, or have some new feature requests, check out the repository on <a href="https://github.com/bittenbytailfly/deadbolt-password-generator-chrome-extension" target="_blank">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 footer-icon">
                            <p>
                                <a href="//plus.google.com/110515526630987178798?prsrc=3"
                                   rel="publisher" target="_top" style="text-decoration:none;">
                                    <img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="Google+" style="border:0;width:64px;height:64px;" />
                                </a>
                            </p>
                        </div>
                        <div class="col-md-9 col-sm-10">
                            <h4>Stay Informed</h4>
                            <p>Follow Deadbolt on Google+ to keep up to date with the latest developments and security news.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="social-buttons">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <p>
                        <div class="g-person" data-width="273" data-href="//plus.google.com/109880656819676198896" data-theme="dark" data-layout="landscape" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
                    </p>
                    <p>
                        &copy; Copyright, Ed Carter 2009-{{ year }}
                        <br />
                        <a href="/license-information">License Information</a>
                    </p>
                </div><div class="col-md-4">
                    <p>
                        <div class="g-plusone" data-annotation="inline" data-width="300" data-href="http://www.deadboltpasswordgenerator.com"></div>
                        <br />
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.deadboltpasswordgenerator.com" data-text="Turn memorable phrases into strong passwords with Deadbolt Password Generator">Tweet</a>
                        <div id="fb-root"></div>
                        <div class="fb-like" data-href="http://www.deadboltpasswordgenerator.com/" data-send="false" data-layout="button_count" data-show-faces="false"></div>
                    </p>
                </div>
            </div>


        </div>
    </div>
    <script src="/js/knockout-3.0.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/js/socialbuttons.js"></script>
    <script src="/js/deadbolt.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="/js/deadbolt-ui.js"></script>
</body>
</html>