<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Product">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ed Carter">
    <title>Deadbolt Password Generator | Licensing Information</title>
    <meta name="keywords" content="password generator, random password generator, secure password generator, generate password, good passwords, random password, good password, online password generator, generate random password, password generators" />
    <meta name="description" content="Full details of all plugins used for the open source free password generator." />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="Deadbolt Password Generator Security Blog" href="http://blog.deadboltpasswordgenerator.com/feeds/posts/default?alt=rss" />
    <link rel="canonical" href="http://www.deadboltpasswordgenerator.com/license-information" />
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/deadbolt.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1><a href="/"><span itemprop="name">Deadbolt Password Generator</span></a></h1>
            </div>
        </div>
    </div>

    <div class="container">

                <h2>Privacy Policy</h2>
                <p>
                    Deadbolt Password Generator does not collect any personal information, or transmit any password information that could identify you as an individual
                    as this is against the entire ethos of what Deadbolt is about. However, as with most websites there are some things you should be aware of.
                </p>

        <h4>Web Site</h4>
            
        <p>The website uses Google Analytics, which tracks information such as:</p>

        <ul>
            <li>The website you came from to get here</li>
            <li>How long you stay here</li>
            <li>What kind of computer you are using</li>
            <li>Whether or not you generated a password</li>
        </ul>

        <p>No information about your password is ever transmitted or stored. For further information regarding 
        Google Analytics please see their <a href="https://www.google.com/analytics/terms/us.html" target="_blank">Terms of Service</a>.</p>

        <p>Google AdSense is used for advertising purposes (Deadbolt is free remember, but hosting is not) - for more information about
        Google's advertising and to opt out please see their <a href="https://www.google.com/policies/technologies/ads/" target="_blank">Privacy &amp; Terms</a>.</p>

        <h4>Mobile App</h4>

        <p>As with the website, no information is ever transmitted or stored on Deadbolt servers, however in order to function there are some permissions that are necessary:</p>

        <ul>
            <li><strong>INTERNET, ACCESS_NETWORK_STATE, ACCESS_WIFI_STATE:</strong> Deadbolt is based on the Crosswalk Browser - a webview for enhanced compatibility that requires these permissions.</li>
            <li><strong>WRITE_EXTERNAL_STORAGE:</strong> Profiles are stored in your device's memory.</li>
            <li><strong>CAMERA, FLASHLIGHT:</strong> Profiles can be imported from the Chrome extension - this is achieved by scanning a QR code which requires the use of the camera and flash.</li>
        </ul>

    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-xs">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 footer-icon"><p><img src="/images/qrcode.png" class="img-responsive img-rounded" /></p></div>
                        <div class="col-md-9 col-sm-10">
                            <h4>On the go</h4>
                            <p>Deadbolt is fully mobile optimised and compatible with most smart phones.</p>
                            <p>Scan the following code and bookmark it on your phone so you can access the site wherever you are.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 footer-icon">
                            <p>
                                <a href="https://github.com/bittenbytailfly/deadbolt-password-generator-chrome-extension" target="_blank">
                                    <img src="/images/github-mark-light-120px-plus.png" class="img-responsive img-rounded" />
                                </a>
                            </p>
                        </div>
                        <div class="col-md-9 col-sm-10">
                            <h4>Feedback</h4>
                            <p>If you'd like to know more about how Deadbolt works, want to file a bug report, or have some new feature requests, check out the repository on <a href="https://github.com/bittenbytailfly/deadbolt-password-generator-chrome-extension" target="_blank">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 footer-icon">
                            <p>
                                <a href="//plus.google.com/110515526630987178798?prsrc=3"
                                   rel="publisher" target="_top" style="text-decoration:none;">
                                    <img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="Google+" style="border:0;width:64px;height:64px;" />
                                </a>
                            </p>
                        </div>
                        <div class="col-md-9 col-sm-10">
                            <h4>Stay Informed</h4>
                            <p>Follow Deadbolt on Google+ to keep up to date with the latest developments and security news.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="social-buttons">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <p>
                        <div class="g-person" data-width="273" data-href="//plus.google.com/109880656819676198896" data-theme="dark" data-layout="landscape" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
                    </p>
                    <p>
                        &copy; Copyright, Ed Carter 2009-{{ year }}
                        <br />
                        <a href="/license-information">License Information</a>
                        |
                        <a href="/privacy-policy">Privacy Policy</a>
                    </p>
                </div><div class="col-md-4">
                    <p>
                        <div class="g-plusone" data-annotation="inline" data-width="300" data-href="http://www.deadboltpasswordgenerator.com"></div>
                        <br />
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.deadboltpasswordgenerator.com" data-text="Turn memorable phrases into strong passwords with Deadbolt Password Generator">Tweet</a>
                        <div id="fb-root"></div>
                        <div class="fb-like" data-href="http://www.deadboltpasswordgenerator.com/" data-send="false" data-layout="button_count" data-show-faces="false"></div>
                    </p>
                </div>
            </div>


        </div>
    </div>
    <script src="/js/knockout-3.0.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/js/socialbuttons.js"></script>
    <script src="/js/deadbolt.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="/js/deadbolt-ui.js"></script>
</body>
</html>